azure-cognitiveservices-speech==1.34.0
edge-tts==6.1.9
elevenlabslib~=0.17.1
fastapi~=0.108.0
numpy~=1.26.3
openai~=1.6.1
packaging~=23.2
pedalboard~=0.8.7
PyAutoGUI~=0.9.54
pydantic~=2.5.3
pydirectinput-rgx==2.1.1
pyinstaller==6.3.0
pynput~=1.7.6
PyYAML~=6.0.1
requests~=2.31.0
scipy~=1.11.4
sounddevice~=0.4.6
soundfile~=0.12.1
typing_extensions~=4.9.0
uvicorn~=0.25.0