azure-cognitiveservices-speech==1.37.0
edge-tts==6.1.11
elevenlabslib~=0.22.3
fastapi~=0.111.0
numpy~=1.26.4
openai~=1.30.1
packaging~=24.0
pedalboard~=0.9.6
platformdirs~=4.2.2
pyaudio~=0.2.14
pydantic~=2.7.1
pydirectinput-rgx==2.1.1
pyinstaller==6.6.0
python-multipart==0.0.9
PyYAML~=6.0.1
requests~=2.32.2
scipy~=1.13.0
sounddevice~=0.4.6
soundfile~=0.12.1
SpeechRecognition~=3.10.4
typing_extensions~=4.11.0
uvicorn~=0.29.0