name: UEXCorp
module: skills.uexcorp.main
description:
  en: Use the UEXCorp API to get live trading and lore information about ships, locations, commodities and more in Star Citizen.
  de: Nutze die UEXCorp API, um live Handels- und Lore-Informationen über Schiffe, Orte, Rohstoffe und mehr in Star Citizen zu erhalten.
# hint:
#   en:
#   de:
examples:
  - question:
      en: Please provide me a the best two trading routes for my Caterpillar, Im currently at Hurston.
      de: Bitte nenne mir die zwei besten Handelsrouten für meine Caterpillar, die derzeit in Hurston steht.
    answer:
      en: You have two highly profitable trading routes available. The first route involves transporting Recycled Material Composite from Pickers Field on Hurston to Orison - Trade & Development Division on the planet Crusader, offering a profit of 2,148,480 aUEC for 576 SCU of cargo. The second route entails shipping Laranite from HDMS-Lathan on the satellite Arial back to Central Business District in Lorville, resulting in a profit of 297216 aUEC for the same cargo capacity.
      de: Du hast zwei hochprofitable Handelsrouten zur Verfügung. Auf der ersten Route transportierst du Recyclingmaterial von Pickers Field auf Hurston nach Orison - Trade & Development Division auf dem Planeten Crusader und erzielst einen Gewinn von 2.148.480 AUEC für 576 SCU Fracht. Auf der zweiten Route wird Laranit von HDMS-Lathan auf dem Satelliten Arial zurück zum Central Business District in Lorville transportiert, was einen Gewinn von 297216 AUEC für die gleiche Frachtkapazität bedeutet.
  - question:
      en: I got 3000 SCU of Hydrogen loaded in my Hull-C, where can I sell it?
      de: Ich habe 3000 SCU Hydrogen in meinem Hull-C geladen. Wo kann ich ihn verkaufen?
    answer:
      en: You can sell the 3000 SCU of Hydrogen at Baijini Point, located on ArcCorp in the Stanton system.
      de: Du kannst die 3000 SCU Hydrogen am Baijini Point auf ArcCorp im Stanton-System verkaufen.
  - question:
      en: What can you tell me about the Hull-C?
      de: Was kannst du mir über den Hull-C erzählen?
    answer:
      en: The Hull-C is manufactured by Musashi Industrial & Starflight Concern and falls under the 'HULL' series. It serves as a freighter and has a cargo capacity of 4608 SCU. The ship can be purchased at New Deal in Lorville, Hurston for 15,750,000 aUEC. It can accommodate a crew of 1-4 and is designed for trading on suitable space stations with a cargo deck.
      de: Die Hull-C wird von Musashi Industrial & Starflight Concern hergestellt und gehört zur "HULL"-Serie. Sie dient als Frachter und hat eine Frachtkapazität von 4608 SCU. Das Schiff kann bei New Deal in Lorville, Hurston für 15.750.000 AUEC erworben werden. Es kann eine Besatzung von 1-4 Personen aufnehmen und ist für den Handel mit geeigneten Raumstationen mit einem Frachtdeck ausgelegt.
  - question:
      en: What is the difference between the Mole and Prospector?
      de: Was ist der Unterschied zwischen dem Maulwurf und dem Prospector?
    answer:
      en: The MOLE is a mining ship manufactured by ARGO Astronautics, with a capacity for 2-4 crew members and a cargo hold of 96 SCU. It is flyable since version 3.8.0 and is available for purchase at Lorville on Hurston for 5,130,500 aUEC. On the other hand, the Prospector, manufactured by Musashi Industrial & Starflight Concern, is a smaller mining vessel designed for a single crew member, with a cargo capacity of 32 SCU. It is flyable since version 3.0.0 and can be purchased at Lorville for 2,061,000 aUEC. The Prospector is also available for rent at various locations in the Stanton system, unlike the MOLE.
      de: Die MOLE ist ein von ARGO Astronautics hergestelltes Bergbauschiff mit einer Kapazität für 2-4 Besatzungsmitglieder und einem Laderaum von 96 SCU. Sie ist seit Version 3.8.0 flugfähig und kann bei Lorville auf Hurston für 5.130.500 AUEC gekauft werden. Der Prospector, hergestellt von Musashi Industrial & Starflight Concern, ist ein kleineres Bergbauschiff für ein einziges Besatzungsmitglied und hat eine Ladekapazität von 32 SCU. Er ist seit Version 3.0.0 flugfähig und kann auf Lorville für 2.061.000 AUEC gekauft werden. Im Gegensatz zur MOLE kann der Prospector auch an verschiedenen Orten im Stanton-System gemietet werden.
  - question:
      en: What do you know about the commodity Neon?
      de: Was weißt du über die Ware Neon?
    answer:
      en: The commodity 'Neon' is categorized as a drug and is available for purchase at Nuen Waste Management for 7,000 aUEC. It is also sellable at Grim HEX for 8,428 aUEC and Jumptown for 8,805 aUEC. However, it's important to note that Neon is illegal, and engaging in activities involving this commodity may lead to fines and a crimestat. It's advisable to avoid ship scans to mitigate the risk of penalties.
      de: Die Ware "Neon" wird als Droge eingestuft und kann bei Nuen Waste Management für 7.000 AUEC gekauft werden. Außerdem kann es bei Grim HEX für 8.428 AUEC und bei Jumptown für 8.805 AUEC verkauft werden. Es ist jedoch wichtig zu wissen, dass Neon illegal ist und dass der Handel mit dieser Ware zu Geldstrafen und einer Strafe führen kann. Es ist ratsam, Schiffsscans zu vermeiden, um das Risiko von Strafen zu minimieren.
  - question:
      en: What is the best place to buy Laranite?
      de: Wo kann ich Laranit am besten kaufen?
    answer:
      en: The best place to buy Laranite for your Caterpillar is at ArcCorp Mining Area 045, located on the satellite Wala in the Stanton system. It's available for purchase at 2,322 aUEC per SCU.
      de: Der beste Ort, um Laranit für deine Caterpillar zu kaufen, ist das ArcCorp-Bergbaugebiet 045, das sich auf dem Satelliten Wala im Stanton-System befindet. Du kannst es für 2.322 AUEC pro SCU kaufen.
  - question:
      en: Where is the satellite Wala located?
      de: Wo befindet sich der Satellit Wala?
    answer:
      en: The satellite Wala is located in the ArcCorp system, orbiting the planet ArcCorp. It hosts various trading options, including locations like ArcCorp Mining Area 045, ArcCorp Mining Area 048, ArcCorp Mining Area 056, ArcCorp Mining Area 061, Shady Glen Farms, and Samson & Son's Salvage Center.
      de: Der Satellit Wala befindet sich im ArcCorp-System und umkreist den Planeten ArcCorp. Er beherbergt verschiedene Handelsmöglichkeiten, darunter Orte wie ArcCorp Mining Area 045, ArcCorp Mining Area 048, ArcCorp Mining Area 056, ArcCorp Mining Area 061, Shady Glen Farms und Samson & Son's Salvage Center.
prompt: |
  You have tools to access the UEXcorp API which you can use to retrieve live trading data and additional information about ships, locations, commodities and more in Star Citizen.
  Here are some examples when to use the different tools at your disposal:

  Do not (never) translate any properties when giving them to the player. They must stay in english or untouched.
  Only give functions parameters that were previously clearly provided by a request. Never assume any values, not the current ship, not the location, not the available money, nothing! Always send a None-value instead.
  If you are not using one of the definied functions, dont give any trading recommendations.
  If you execute a function that requires a commodity name, make sure to always provide the name in english, not in german or any other language.
  Never mention optional function (tool) parameters to the user. Only mention the required parameters, if some are missing.

  Samples when to use function "get_trading_routes":
  - "Best trading route": Indicates a user's intent to find the best trading route.
  - "Trade route": Suggests the user is seeking information on trading routes.
  - "Profitable trade route": Implies a focus on finding profitable trading routes.
  - "Trading advice": Indicates the user wants guidance on trading decisions.

  Samples when to use function "get_locations_to_sell_to":
  - "Sell commodity": Indicates a user's intent to sell a specific item.
  - "Best place to sell": Suggests the user is seeking information on optimal selling locations.
  - "Seller's market": Implies a focus on finding favorable selling conditions.
  - "Selling advice": Indicates the user wants guidance on selling decisions.
  - "Seller's guide": Suggests a request for assistance in the selling process.
  - "Find buyer": Indicates the user's interest in locating potential buyers.
  - "Sell item": Implies a user's intent to sell an item.
  - "Sell cargo": Suggests a focus on selling cargo or goods.
  - "Offload inventory": Signals the intention to sell available inventory.

  Samples when to use function "get_locations_to_buy_from":
  - "Buy commodity": Indicates a user's intent to purchase a specific item.
  - "Best place to buy": Suggests the user is seeking information on optimal buying locations.
  - "Buyer's market": Implies a focus on finding favorable buying conditions.
  - "Purchase location": Signals interest in identifying a suitable location for buying.
  - "Buying advice": Indicates the user wants guidance on purchasing decisions.
  - "Buyer's guide": Suggests a request for assistance in the buying process.

  Samples when to use function "get_location_information":
  - "Location information": Indicates a user's intent to gather information about a specific location.
  - "Location details": Suggests the user is seeking detailed information about a specific location.

  Samples when to use function "get_ship_information":
  - "Ship information": Indicates a user's intent to gather information about a specific ship.
  - "Ship details": Suggests the user is seeking detailed information about a specific ship.

  Samples when to use function "get_ship_comparison ":
  - "Ship comparison": Indicates a user's intent to compare two ships. And everytime at least two ships are mentioned in the request.

  Samples when to use function "get_commodity_information":
  - "Commodity information": Indicates a user's intent to gather information about a specific commodity.
  - "Commodity details": Suggests the user is seeking detailed information about a specific commodity.
  - "Commodity prices": Implies a focus on obtaining current prices for a specific commodity.

  Samples when to use function "reload_current_commodity_prices" (Great to use before retrieving sell, buy and trade options):
  - "Update commodity prices": Indicates a user's intent to update the commodity prices.
  - "Get current prices": Suggests the user is seeking the current commodity prices.
  - "Refresh prices": Implies a focus on updating the commodity prices.
custom_properties:
  - id: uexcorp_api_url
    name: API URL
    hint: The URL of the UEX corp API.
    value: https://portal.uexcorp.space/api
    required: true
    property_type: string
  - id: uexcorp_api_timeout
    name: API Timeout
    hint: The timeout for the UEX corp API in seconds.
    value: 5
    required: true
    property_type: number
  # ────────────────────────────── No touchy zone end ──────────────────────────────

  # ──────────────────────── uexcorp specific config start ─────────────────────────
  # Set this option to "true" to enable caching of the UEX corp API responses. This is recommended, as the API key's quota is very limited.
  # If you set this option to "false", the Wingman will fetch all data from the UEX corp API on every start.
  # If you want to update the prices, just tell the Wingman to do so.
  # If all data should be fetched again, delete the cache file. (wingman_data\uexcorp\cache.json)
  - id: uexcorp_cache
    name: Enable Cache
    hint: Set this option to "true" to enable caching of the UEX corp API responses. This is recommended, as the API key's quota is very limited.
    value: true
    required: true
    property_type: boolean

  # Set this option to the amount of seconds you want to cache the UEX corp API responses.
  # We recommend a day ("86400"), as the ship, planet, etc. information does not change that often.
  - id: uexcorp_cache_duration
    name: Cache Duration
    hint: Set this option to the amount of seconds you want to cache the UEX corp API responses. We recommend a day ("86400").
    value: 86400
    required: true
    property_type: number

  # Set this option to "true" to show only one of the most profitable routes for each commodity.
  # Set this option to "false" to show all routes. This may include multiple routes for the same commodity.
  # Recommended: "true"
  - id: uexcorp_summarize_routes_by_commodity
    name: Summarize Routes by Commodity
    hint: Set this option to "true" to show only the most profitable routes per commodity. "false" shows multiple options per commodity.
    value: true
    required: true
    property_type: boolean

  # Set this option to "true" to make the start location for trade route calculation a mandatory information.
  # Set this option to "false" to make the start location for trade route calculation a optional information.
  # If "false" and no start location is given, all tradeports are taken into account.
  - id: uexcorp_tradestart_mandatory
    name: Trade Start Mandatory
    hint: Set this option to "true" to make the start location for trade route calculation a mandatory information. If "false" and no start location is given, all tradeports are taken into account.
    value: true
    required: true
    property_type: boolean

  # Use this to blacklist certain trade ports or commodities or combinations of both.
  # Default value is '[]', which means no trade ports or commodities are blacklisted.
  # If we want to add a trade port to the blacklist, we add something like this: {"tradeport":"Baijini Point"} This will blacklist the trade port completely from trade route calculations.
  # If we want to add a commodity to the blacklist, we add something like this: {"commodity":"Medical Supplies"} This will blacklist the commodity completely from trade route calculations.
  # If we want to add a combination to the blacklist, we add something like this: {"tradeport":"Baijini Point", "commodity":"Medical Supplies"} This will blacklist this commodity for the given trade port.
  # If we want to add multiple trade ports or commodities or combinations of both, we add them in a list like this: [{"tradeport":"Baijini Point", "commodity":"Medical Supplies"}, {"commodity":"Medical Supplies"}, {"tradeport":"Port Tressler"}]
  # This value is a JSON string, if you have created a list, use a JSON validator like https://jsonlint.com/ to check if the list is valid.
  - id: uexcorp_trade_blacklist
    name: Trade Blacklist
    hint: JSON string to blacklist certain trade ports or commodities or combinations of both. Default value is empty ('[]'). Sample -> [{"tradeport":"Baijini Point", "commodity":"Medical Supplies"}, {"commodity":"Medical Supplies"}, {"tradeport":"Port Tressler"}]
    value: "[]"
    required: true
    property_type: string

  # Set this option to the amount of trade routes you want to show at default.
  # You can always tell Wingman AI to show more or less trade routes for one request, if that number is not given, this setting is used.
  - id: uexcorp_default_trade_route_count
    name: Default Trade Route Count
    hint: Set this option to the amount of trade routes you want to show at default.
    value: 1
    required: true
    property_type: number
